@import url(./header.css);

:root {
  height: 100%;
  font-size: 62.5%;

  --main-green: #118a44;
  --hover-green: #12c05b;
  --main-orange: #ffa600;
  --hover-orange: #da8e00;
  --shadow: rgba(0, 0, 0, 0.1);

  --main-font: Helvetica, Arial, sans serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*+* {
  margin-top: 2rem;
}

a {
  text-shadow:
    1px 1px var(--shadow),
    1px -1px var(--shadow),
    -1px 1px var(--shadow),
    -1px -1px var(--shadow);
}

body {
  height: 100%;
  margin: 0;

  font-size: 1.6rem;
  font-family: var(--main-font);
}

.btn:link,
.btn:visited,
[type="submit"] {
  display: inline-block;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow:
    1px 1px 3px var(--shadow),
    1px -1px 3px var(--shadow),
    -1px 1px 3px var(--shadow),
    -1px -1px 3px var(--shadow);
  transition: 0.2s;
}

.btn-main:link,
.btn-main:visited {
  font-weight: bold;
  color: #fff;
  background-color: var(--main-orange);
  border: 1px solid var(--main-orange);
  border-radius: 3px;
}

.btn-main:hover,
.btn-main:active {
  background-color: var(--hover-orange);
  border-color: var(--hover-orange);
}

.wrapper {
  /* parent = body */
  height: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../resources/images/Bg-Banner-Honest-Eco-Friendly-Happy-Hauler.jpg');
  background-size: cover;
  background-position: center;
}