@import url(./landing-wrapper.css);
@import url(./doing-more-wrapper.css);
@import url(./footer.css);

:root {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;

  --main-green: #118a44;
  --hover-green: #12c05b;
  --main-orange: #ffa600;
  --hover-orange: #da8e00;

  --white-shadow: rgba(255, 255, 255, 0.3);
  --grey-shadow: rgba(0, 0, 0, 0.2);
  --green-shadow: rgba(18, 192, 91, 0.2);

  --logo-font: 'Bangers', cursive;
  --main-font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

*+* {
  margin-top: 2rem;
}

a,
.logo p,
.sidecar .fas {
  text-shadow: 1px 3px 5px var(--grey-shadow),
    0px -3px 5px var(--grey-shadow);
}

body {
  height: 100%;
  margin: 0;

  font-size: 1.6rem;
  font-family: var(--main-font);
}

.btn:link,
.btn:visited,
[type="submit"] {
  display: inline-block;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow:
    0px 2px 6px var(--grey-shadow),
    0px -2px 6px var(--grey-shadow),
    2px 0px 6px var(--grey-shadow),
    -2px 0px 6px var(--grey-shadow);
  transition: 0.2s;
}

.btn-main:link,
.btn-main:visited {
  font-weight: bold;
  color: #fff;
  background-color: var(--main-orange);
  border: 1px solid var(--main-orange);
  border-radius: 3px;
}

.btn-main:hover,
.btn-main:active {
  background-color: var(--hover-orange);
  border-color: var(--hover-orange);
  transform: scale(1.1);
}

section {
  margin-top: 6rem;
}

section h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.15ch;
  margin: 0;

  font-size: 6rem;
  color: var(--main-green);
  text-transform: uppercase;
  text-align: center;
}

ul {
  list-style: none !important;
}